@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }

    @font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0;
}

a {
  text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
}

.intro_bg{
    width: 100%;
    height: 300px;
    background-color: lightblue;
}

.intro_text{
    width: 100%;
    background-color: violet;
    text-align: center;
    position: relative;
    top: 100px;    
}

.intro_text > h1 {
    font-family: 'HS-Regular';
    padding-right: 30px;
}

.intro_text > h4{
    font-family: 'HallymMjo-Regular';
    padding-right: 30px;
}

.intro_bg{
    background-image: url(../images/loginmain/title05.png);
    background-size: 100% 400px;
    opacity: 0.7;
}

.intro_text{
    background-color: transparent;
}

.intro_text > h1 ,  .intro_text > h4{
    color: black;
    margin-left: 200px;
}

/* intro_bg 끝 */

.contents{
	margin-top : 50px
}

.content01{
    width: 1000px;
}

/* 테이블 영역 */


.td_left{
    font-family: 'HallymMjo-Regular';
    font-size: 20px;
}

.td_right > input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'HallymMjo-Regular';
    padding-left: 10px;
    font-size: 20px;
}

.td_right > textarea{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'HallymMjo-Regular';
    padding-left: 10px;
    font-size: 20px;
}


.td_right6 > input{
    font-family: 'HallymMjo-Regular';
    font-size: 20px;
}

table .boContent{
	margin-top : 50px
}

.buttons {
	float : right;
}

.buttons .btn {
	margin-right : 20px;
}

/* contents e */