@font-face {
	font-family: '국립박물관문화재단클래식B';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HallymMjo-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cafe24Oneprettynight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0 auto;
	padding: 0;
	color: black;
}

img {
	height: 100%;
	width: 100%;
}

.intro_bg{
	height: 500px;
	background-image: url(../images/loginmain/maintitle2.png);
    background-size: 100% 500px;
    opacity: 0.7;
}

.main_text0 {
	width: 100%;
	height: 1000px;
	margin-down: 30px;
}

.main_text0 text-center{
	margin-top: 30px;
}
	
.main_text0 h1 {
	text-align: right;
	padding: 30px;
	color : white;
	font-family: '국립박물관문화재단클래식B';
	
}

.main_text0 p {
	text-align: right;
	margin-right: 30px;
	font-size: 20px;
	font-family: 'HallymMjo-Regular';
	color : white;
}

.main_text0 ul {
	display: flex;
	width: 1280px;
	height: 380px;
}

.icons {
	margin-top: 30px
}

.icons>li {
	width: 400px;
	text-align: center;
}

.sool_img {
	margin-top: 20px;
	width: 100%;
	height: 350px;
}

.contents2>p {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Cafe24Oneprettynight';
}

.main_text0 {
	background-color: white;
}

/* 2차 main_text0 e================================ */
.main_text1 {
	width: 100%;
	height: 820px;
	background-color: lightblue;
}

.main_text1>h1 {
	text-align: center;
	font-family: '국립박물관문화재단클래식B';
	font-size: 60px;
	padding-bottom: 10px;
}

.main_text1>h4 {
	text-align: center;
	font-family: 'HallymMjo-Regular';
	padding-bottom: 10px;
}

.contents3>h2 {
	color: rgb(31, 105, 31);
	font-size: 40px;
	font-family: '국립박물관문화재단클래식B';
}

.contents3>p {
	font-size: 20px;
	padding-bottom: 20px;
	font-family: 'Cafe24Oneprettynight';
}

.sool {
	display: flex;
	width: 1280px;
	height: 640px;
	margin-top: 20px;
}

.sool>div>img {
	width: 640px;
	height: 640px;
}

.sool>div:last-child {
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
}

.main_text1 {
	background-color: white;
}
/* 3차 main_text1 e======================= */
.main_text2>ul {
	width: 90%;
	height: 500px;
	display: flex;
}

.main_text2>ul>li {
	width: 50%;
}

.main_text2>ul>li:first-child>div {
	width: 100%;
	height: 500px;
	background-color: lightpink;
	text-align: center;
}

.main_text2>ul>li:last-child>div {
	width: 100%;
	height: 500px;
	background-color: lightseagreen;
	text-align: center;
}

.main_text2>ul>li>div>h1 {
	padding-top: 160px;
	font-family: '국립박물관문화재단클래식B';
}

.main_text2 h1, .main_text2 p {
	color: black;
	padding-bottom: 30px;
	font-family: 'HallymMjo-Regular';
}

.more {
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 15px;
	font-size: 20px;
	background-color: #222;
}

.more>a {
	cursor: pointer;
	color: white;
	font-family: 'Cafe24Oneprettynight';
	text-decoration: none;
}

.sool_list {
	background-image: url("../images/loginmain/main_text2_01.png");
	background-size: 100% 500px;
}

.bar_list {
	background-image: url("../images/loginmain/main_text2_02.png");
	background-size: 100% 500px;
}

.sool_list:hover {
	opacity: 0.7;
}

.bar_list:hover {
	opacity: 0.7;
}

.main_text2>ul>li {
	background-color: black !important;
}
/* 4차 작업 main_text2 e  ================== */

/* 반응형 s */

/*화면 너비가 0부터 1220px 일때  */
@media ( max-width :1220px) {
	#wrap {
		width: 95%;
	}
	.intro_bg {
		width: 100%;
	}
	.header {
		width: 100%;
	}
	.nav>li {
		margin-left: 30px;
	}
	.sub_title {
		width: 95%;
		background-color: red;
	}
	.sub_title>li>div {
		width: 250px;
	}
	.sub_title {
		background-color: white;
	}
	.main_text0>ul {
		width: 95%;
		background-color: blueviolet;
	}
	.icons>li {
		width: 340px;
	}
	.main_text0>ul {
		background-color: white;
	}
	.sool {
		width: 95%;
	}
}

#menuicon, .header_icon {
	display: none;
}

@media ( max-width :1200px) {
	.main_text2>ul {
		width: 100%;
	}
	.intro_bg {
		width: 100%;
	}
}

/* 화면 너비가 0부터 930일때  */
@media ( max-width :930px) {
	.intro_bg {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.searchArea {
		margin: 0;
	}
	#input_search {
		width: 200px;
		margin-top: 20px;
		margin-left: 20px;
	}
	input[id="menuicon"]+label {
		display: block;
		width: 30px;
		height: 20px;
		background-color: lightblue;
		position: fixed;
		right: 30px;
		top: 25px;
		cursor: pointer;
	}
	input[id="menuicon"]+label>span {
		display: block;
		width: 100%;
		height: 4px;
		background-color: white;
	}
	input[id="menuicon"]+label span:nth-child(1) {
		position: absolute;
		top: 0;
	}
	input[id="menuicon"]+label span:nth-child(2) {
		position: absolute;
		top: calc(50% - 2px);
	}
	input[id="menuicon"]+label span:nth-child(3) {
		position: absolute;
		bottom: 0;
	}
	input[id="menuicon"]:checked+label span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}
	input[id="menuicon"]:checked+label span:nth-child(2) {
		opacity: 0;
	}
	input[id="menuicon"]:checked+label span:nth-child(3) {
		top: 50%;
		transform: rotate(-45deg);
	}
	.header_icon {
		display: block;
	}
	.header_icon {
		width: 300px;
		height: 100%;
		background-color: #222;
		position: fixed;
		right: -300px;
		z-index: 1;
	}
	input[id="menuicon"]:checked+label+div {
		right: 0;
	}
	input[id="menuicon"]+label {
		z-index: 2;
		background-color: transparent;
	}
	input[id="menuicon"]+label span {
		border-radius: 30px;
		transition: all .3s;
	}
	.header_icon {
		transition: all .3s;
	}
	.menu {
		width: 250px;
		height: 500px;
		background-color: lavender;
		margin: 100px auto;
	}
	.menu>li {
		padding-top: 20px;
		padding-left: 40px;
	}
	.menu>li>a {
		color: white;
		font-size: 20px;
		font-weight: bold;
	}
	.menu {
		background-color: transparent;
	}
	.main_text2>ul {
		width: 100%;
	}

	/* 슬라이드 e */
	.main_text1 {
		height: 1200px;
		background-color: red;
	}
	.sool {
		display: block;
		width: 100%;
		height: 880px;
	}
	.sool>div:first-child>img {
		width: 100%;
	}
	.contents3 {
		height: 640px;
	}
	.main_text1, .sool {
		background-color: white;
	}
}

/* 화면 너비가 0부터 550px일 때 */
@media ( max-width :550px) {
	/* #wrap{width:100%} */
	.intro_bg {
		width: 100%;
	}
	.sub_title {
		background-color: tomato;
		height: 510px;
		display: block;
	}
	.sub_title>li>div {
		width: 330px;
	}
	.sub_title {
		background-color: white;
	}
	.main_text0 {
		height: 1800px;
		background-color: lavender;
	}
	.main_text0>ul {
		display: block;
		height: 900px;
		background-color: tomato;
	}
	.main_text0>ul>li {
		width: 400px;
	}
	.sub_title, .main_text0, .main_text0>ul {
		background-color: white;
	}
	.main_text2>ul {
		display: block;
		height: 1000px;
	}
	.main_text2>ul {
		width: 100%;
	}
	.main_text2>ul>li {
		width: 100%;
	}
	.div_footer {
		height: 200px !important;
	}
}

/* =============== GO TO TOP =============== */
#scrollToTop {
	width: 50px; 
	height: 50px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-indent: -99999em;
	display: none;
	cursor: pointer;
	z-index: 2;
	background: black url(../images/icon/go-to-top.png) center center no-repeat;
}
#scrollToTop:hover {
	text-decoration: none;
	background-color: black;
}